<div class="container px-5">
  <main>
    <div class="py-5 text-center">
      <h1>Checkout</h1>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Your cart</span>
          <span class="badge bg-primary rounded-pill">{{
            checkoutService.order()?.order?.totalQuantity
          }}</span>
        </h4>
        <ul class="list-group mb-3">
          @for (item of checkoutService.order()?.orderItems; track $index) {
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div class="w-75">
              <h6 class="mb-0">
                {{ item.productId ? getProduct(item.productId)?.name : "" }}
              </h6>
              <small class="d-flex text-body-secondary">
                {{
                  item.productId ? getProduct(item.productId)?.description : ""
                }}
              </small>
            </div>
            <span class="text-body-secondary w-25 text-end"
              >{{ item.quantity }} x</span
            >
            <span class="text-body-secondary ms-2">{{ item.price }}</span>
          </li>
          }
          <li class="list-group-item d-flex justify-content-between">
            <span>Total</span>
            <strong>{{ calculateCartTotal() | currency : "USD" }}</strong>
          </li>
        </ul>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Billing address</h4>
        <form [formGroup]="checkoutForm" (ngSubmit)="placeOrder()">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="billingFirstName" class="form-label"
                >First name</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="billingFirstName"
              />
              @if(checkoutForm.get("billingFirstName")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-sm-6">
              <label for="billingLastName" class="form-label">Last name</label>
              <input
                type="text"
                class="form-control"
                formControlName="billingLastName"
              />
              @if(checkoutForm.get("billingLastName")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-12">
              <label for="billingAddress" class="form-label">Street</label>
              <input
                type="text"
                class="form-control"
                formControlName="billingStreet"
              />
              @if(checkoutForm.get("billingStreet")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-12">
              <label for="billingCity" class="form-label">City</label>
              <input
                type="text"
                class="form-control"
                formControlName="billingCity"
              />
              @if(checkoutForm.get("billingCity")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-md-4">
              <label for="billingState" class="form-label">State</label>
              <select
                class="form-select"
                id="state"
                formControlName="billingState"
              >
                <option>Choose...</option>
                @for (state of STATES_ABBREVIATIONS; track $index) {
                <option value="{{ state }}">{{ state }}</option>

                }
              </select>
              @if(checkoutForm.get("billingState")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-md-3">
              <label for="billingZip" class="form-label">Zip</label>
              <input
                type="number"
                class="form-control"
                formControlName="billingZip"
              />
              @if(checkoutForm.get("billingZip")?.hasError("required")) {
              <div class="text-danger">Required!</div>
              } @if (checkoutForm.get("billingZip")?.hasError("minLength")) {
              <div class="text-danger">Must be 5 digits!</div>
              }
            </div>
          </div>

          <hr class="my-4" />

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="same-address" />
            <label class="form-check-label" for="same-address"
              >Shipping address is same as billing address</label
            >
          </div>

          <hr class="my-4" />

          @if (!billingShippingSame) {
          <h4 class="mb-3">Shipping address</h4>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="shippingFirstName" class="form-label"
                >First name</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="shippingFirstName"
              />
              @if(checkoutForm.get("shippingFirstName")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-sm-6">
              <label for="shippingLastName" class="form-label">Last name</label>
              <input
                type="text"
                class="form-control"
                formControlName="shippingLastName"
              />
              @if(checkoutForm.get("shippingLastName")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-12">
              <label for="shippingStreet" class="form-label">Street</label>
              <input
                type="text"
                class="form-control"
                formControlName="shippingStreet"
              />
              @if(checkoutForm.get("shippingStreet")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-12">
              <label for="shippingCity" class="form-label">City</label>
              <input
                type="text"
                class="form-control"
                formControlName="shippingCity"
              />
              @if(checkoutForm.get("shippingCity")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-md-4">
              <label for="shippingState" class="form-label">State</label>
              <select class="form-select" formControlName="shippingState">
                <option>Choose...</option>
                @for (state of STATES_ABBREVIATIONS; track $index) {
                <option value="{{ state }}">
                  {{ state }}
                </option>
                }
              </select>
              @if(checkoutForm.get("shippingState")?.errors) {
              <div class="text-danger">Required!</div>
              }
            </div>

            <div class="col-md-3">
              <label for="shippingZip" class="form-label">Zip</label>
              <input
                type="number"
                class="form-control"
                formControlName="shippingZip"
              />
              @if(checkoutForm.get("shippingZip")?.hasError("required")) {
              <div class="text-danger">Required!</div>
              } @if (checkoutForm.get("shippingZip")?.hasError("minLength")) {
              <div class="text-danger">Must be 5 digits!</div>
              }
            </div>
          </div>
          }

          <hr class="my-4" />
          <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <div class="form-check">
              <input
                id="credit"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                checked
                required
              />
              <label class="form-check-label" for="credit">Credit card</label>
            </div>
            <div class="form-check">
              <input
                id="debit"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                required
              />
              <label class="form-check-label" for="debit">Debit card</label>
            </div>
            <div class="form-check">
              <input
                id="paypal"
                name="paymentMethod"
                type="radio"
                class="form-check-input"
                required
              />
              <label class="form-check-label" for="paypal">PayPal</label>
            </div>
          </div>

          <div class="row gy-3">
            <div class="col-md-6">
              <label for="cc-name" class="form-label">Name on card</label>
              <input
                type="text"
                class="form-control"
                id="cc-name"
                placeholder=""
                required
              />
              <small class="text-body-secondary"
                >Full name as displayed on card</small
              >
              <div class="invalid-feedback">Name on card is required</div>
            </div>

            <div class="col-md-6">
              <label for="cc-number" class="form-label"
                >Credit card number</label
              >
              <input
                type="text"
                class="form-control"
                id="cc-number"
                placeholder=""
                required
              />
              <div class="invalid-feedback">Credit card number is required</div>
            </div>

            <div class="col-md-3">
              <label for="cc-expiration" class="form-label">Expiration</label>
              <input
                type="text"
                class="form-control"
                id="cc-expiration"
                placeholder=""
                required
              />
              <div class="invalid-feedback">Expiration date required</div>
            </div>

            <div class="col-md-3">
              <label for="cc-cvv" class="form-label">CVV</label>
              <input
                type="text"
                class="form-control"
                id="cc-cvv"
                placeholder=""
                required
              />
              <div class="invalid-feedback">Security code required</div>
            </div>
          </div>

          <hr class="my-4" />

          <button
            class="w-100 btn btn-primary btn-lg"
            type="submit"
            [disabled]="checkoutForm.invalid"
          >
            Continue to checkout
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
