@if (isAuthenticated) {
<div class="row">
  <div class="col d-flex align-items-center">
    <div class="navbar-collapse" id="navbarUser">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button
            class="btn btn-dark dropdown-toggle"
            data-bs-toggle="dropdown"
          >
            {{ usersName }}
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="dropdown-item" href="#">Profile</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="col">
    <div class="navbar-collapse" id="navbarCart">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button
            class="btn btn-dark dropdown-toggle"
            data-bs-toggle="dropdown"
          >
            <i class="bi bi-cart fs-3"></i>
            @if (checkoutService.order()?.order?.totalQuantity &&
            checkoutService.order()?.order?.totalQuantity !== 0) {
            <span class="badge badge-warning" id="lblCartCount">
              {{ checkoutService.order()?.order?.totalQuantity }} </span
            >}
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="dropdown-item" href="#" routerLink="view-cart"
                >View Cart</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="#" routerLink="checkout"
                >Check-out</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

} @else {

<div class="row">
  <div class="col">
    <button type="button" routerLink="/login" class="btn btn-primary px-5 me-1">
      Login
    </button>
  </div>
  <div class="col">
    <button type="button" class="btn btn-warning px-4" routerLink="/sign-up">
      Sign-up
    </button>
  </div>
</div>
}
