<div class="col h-100">
  <div class="card h-100 pt-1 mt-3">
    <img
      src="{{ product().imageUrl }}"
      class="card-img-top"
      height="125"
      width="100"
    />
    <div class="card-body h-100">
      <h5 class="card-title">{{ product().name }}</h5>
      <span>
        <p class="card-text overflow-y-hidden" style="height: 50px">
          {{ product().description }}
        </p>
      </span>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-center mb-2">
      <button class="btn btn-success" type="button">Add</button>
      <button class="btn btn-info" type="button">Details</button>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">{{
        product().price | currency : "USD"
      }}</small>
    </div>
  </div>
</div>
