<div class="container">
  <app-alert></app-alert>
  <main>
    <div class="py-5 text-center">
      <h1>Your Profile</h1>
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <div class="col-md-7 col-lg-8">
        <form [formGroup]="profileForm" (ngSubmit)="editCustomer()">
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input
                type="text"
                class="form-control"
                formControlName="firstName"
              />
              @if (profileForm.get("firstName")?.errors) {
              <div class="text-danger">Missing!</div>
              }
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input
                type="text"
                class="form-control"
                formControlName="lastName"
              />
              @if (profileForm.get("lastName")?.errors) {
              <div class="text-danger">Missing!</div>
              }
            </div>

            <div class="col-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="text"
                  class="form-control-plaintext bg-secondary-subtle"
                  value="{{ oktaService.currentUser()?.email }}"
                  readonly
                />
              </div>
            </div>
          </div>

          <hr class="my-4" />

          <h4 class="mb-3">Billing address</h4>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="billingFirstName" class="form-label"
                >First name</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="billingFirstName"
              />
              @if(profileForm.errors && profileForm.errors["billingFirstName"])
              {
              <div class="text-danger">
                {{ profileForm.errors["billingFirstName"] }}
              </div>
              }
            </div>

            <div class="col-sm-6">
              <label for="billingLastName" class="form-label">Last name</label>
              <input
                type="text"
                class="form-control"
                formControlName="billingLastName"
              />
              @if(profileForm.errors && profileForm.errors["billingLastName"]) {
              <div class="text-danger">
                {{ profileForm.errors["billingLastName"] }}
              </div>
              }
            </div>

            <div class="col-12">
              <label for="billingStreet" class="form-label">Street</label>
              <input
                type="text"
                class="form-control"
                formControlName="billingStreet"
              />
            </div>
            @if(profileForm.errors && profileForm.errors["billingStreet"]) {
            <div class="text-danger">
              {{ profileForm.errors["billingStreet"] }}
            </div>
            }

            <div class="col-12">
              <label for="billingCity" class="form-label">City</label>
              <input
                type="text"
                class="form-control"
                formControlName="billingCity"
              />
            </div>
            @if(profileForm.errors && profileForm.errors["billingCity"]) {
            <div class="text-danger">
              {{ profileForm.errors["billingCity"] }}
            </div>
            }

            <div class="col-md-4">
              <label for="billingState" class="form-label">State</label>
              <select class="form-select" formControlName="billingState">
                <option>Choose...</option>
                @for (state of STATES_ABBREVIATIONS; track $index) {
                <option value="{{ state }}">
                  {{ state }}
                </option>
                }
              </select>
              @if(profileForm.errors && profileForm.errors["billingState"]) {
              <div class="text-danger">
                {{ profileForm.errors["billingState"] }}
              </div>
              }
            </div>

            <div class="col-md-3">
              <label for="billingZip" class="form-label">Zip</label>
              <input
                type="number"
                class="form-control"
                formControlName="billingZip"
              />
              @if(profileForm.errors && profileForm.errors["billingZip"]) {
              <div class="text-danger">
                {{ profileForm.errors["billingZip"] }}
              </div>
              } @if (profileForm.get("billingZip")?.errors) {
              <div class="text-danger">Must be 5 digits!</div>
              }
            </div>
          </div>

          <hr class="my-4" />

          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="same-address"
              (change)="sameAddressToggle()"
            />
            <label class="form-check-label" for="same-address"
              >Shipping address is same as billing address</label
            >
          </div>

          <hr class="my-4" />

          @if (!billingShippingSame) {
          <h4 class="mb-3">Shipping address</h4>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="shippingFirstName" class="form-label"
                >First name</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="shippingFirstName"
              />
              @if(profileForm.errors && profileForm.errors["shippingFirstName"])
              {
              <div class="text-danger">
                {{ profileForm.errors["shippingFirstName"] }}
              </div>
              }
            </div>

            <div class="col-sm-6">
              <label for="shippingLastName" class="form-label">Last name</label>
              <input
                type="text"
                class="form-control"
                formControlName="shippingLastName"
              />
              @if(profileForm.errors && profileForm.errors["shippingLastName"])
              {
              <div class="text-danger">
                {{ profileForm.errors["shippingLastName"] }}
              </div>
              }
            </div>

            <div class="col-12">
              <label for="shippingStreet" class="form-label">Street</label>
              <input
                type="text"
                class="form-control"
                formControlName="shippingStreet"
              />
              @if(profileForm.errors && profileForm.errors["shippingStreet"]) {
              <div class="text-danger">
                {{ profileForm.errors["shippingStreet"] }}
              </div>
              }
            </div>

            <div class="col-12">
              <label for="shippingCity" class="form-label">City</label>
              <input
                type="text"
                class="form-control"
                formControlName="shippingCity"
              />
              @if(profileForm.errors && profileForm.errors["shippingCity"]) {
              <div class="text-danger">
                {{ profileForm.errors["shippingCity"] }}
              </div>
              }
            </div>

            <div class="col-md-4">
              <label for="shippingState" class="form-label">State</label>
              <select class="form-select" formControlName="shippingState">
                <option>Choose...</option>
                @for (state of STATES_ABBREVIATIONS; track $index) {
                <option value="{{ state }}">
                  {{ state }}
                </option>
                }
              </select>
              @if(profileForm.errors && profileForm.errors["shippingState"]) {
              <div class="text-danger">
                {{ profileForm.errors["shippingState"] }}
              </div>
              }
            </div>

            <div class="col-md-3">
              <label for="shippingZip" class="form-label">Zip</label>
              <input
                type="number"
                class="form-control"
                formControlName="shippingZip"
              />
              @if(profileForm.errors && profileForm.errors["shippingZip"]) {
              <div class="text-danger">
                {{ profileForm.errors["shippingZip"] }}
              </div>
              } @if (profileForm.get("shippingZip")?.errors) {
              <div class="text-danger">Must be 5 digits!</div>
              }
            </div>
          </div>

          <hr class="my-4" />
          }

          <button
            class="w-100 btn btn-success btn-lg"
            type="submit"
            [disabled]="profileForm.invalid || profileForm.pristine"
          >
            Save
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
