<div
  class="d-flex flex-column flex-shrink-0 p-1 text-bg-dark"
  style="width: 200px; height: 125%"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4 mt-3">Search</span>
  </a>
  <hr />
  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 mx-3" role="search">
    <input
      type="search"
      class="form-control form-control-dark my-1"
      placeholder="keyword"
      aria-label="Search"
    />
  </form>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
          <use xlink:href="#people-circle" />
        </svg>
        All
      </a>
    </li>
    <li class="nav-item">
      <a
        href="#"
        class="nav-link text-white"
        routerLink="/category/1"
        routerLinkActive="active-link"
      >
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
          <use xlink:href="#home" />
        </svg>
        Instruments
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
          <use xlink:href="#speedometer2" />
        </svg>
        Accessories
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
          <use xlink:href="#table" />
        </svg>
        Books
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
          <use xlink:href="#grid" />
        </svg>
        Lessons
      </a>
    </li>
  </ul>
</div>
