<div
  class="d-flex flex-column flex-shrink-0 p-1 text-bg-dark"
  style="width: 200px; height: 150%"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4 mt-4">Search</span>
  </a>
  <hr />
  <div class="col-12 col-lg-auto mb-lg-0 me-lg-3 mx-3" role="search">
    <input
      #searchInput
      type="search"
      class="form-control form-control-dark my-1 ms-1"
      placeholder="keyword"
      aria-label="Search"
      (keyup.enter)="handleSearch(searchInput.value)"
    />
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a
        class="nav-link text-white"
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        All
      </a>
    </li>
    @for (category of productCategories; track $index) {
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/category/{{ parseProductId(category._links.self.href) }}"
        routerLinkActive="active"
      >
        <svg class="bi pe-none me-2" width="16" height="16"></svg>
        {{ capitalizeFirstLetter(category.categoryName) }}
      </a>
    </li>
    }
  </ul>
</div>
