<div class="col h-100">
  <div class="card h-100 pt-3 mt-3">
    <img src="" class="card-img-top" height="125" width="100" />
    <div class="card-body h-100 pt-2 pb-0">
      <h5 class="card-title"></h5>
      <span>
        <p class="card-text overflow-y-hidden" style="height: 50px"></p>
      </span>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-center mb-2">
      <button class="btn btn-success" type="button">Add</button>
      <button class="btn btn-info" type="button">Details</button>
    </div>
    <div class="card-footer">
      <small class="text-body-secondary">
        <div class="text-danger">
          <!-- <strong>{{ product().price | currency : "USD" }}</strong> -->
        </div></small
      >
    </div>
  </div>
</div>
