<div
  class="card mb-2 border border-black border-2 border-opacity-25 color-primary"
  style="max-width: 700px"
>
  <div class="row g-0">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <img
        src="{{ item().imageUrl }}"
        height="125"
        width="125"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">{{ product?.name }}</h5>
        <p class="lh-1 card-text mx-0 my-0">
          {{ product?.description }}
        </p>
        <p class="card-text mt-1">
          <small class="d-flex text-body-secondary">{{
            item().price | currency : "USD"
          }}</small>
        </p>
        <div class="fst-italic fw-medium text-danger">
          {{ product?.stock }} left!
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      {{ item().quantity }} x {{ item().price | currency : "USD" }} =
      <div class="fw-bold ms-1">
        {{ calculateItemTotal() | currency : "USD" }}
      </div>
    </div>
  </div>
</div>
