<div
  class="card mb-2 border border-black border-2 border-opacity-25 color-primary"
  style="max-width: 700px"
>
  <div class="row g-0">
    <div class="d-flex align-items-center justify-content-center w-25">
      <img
        src="{{ item().imageUrl }}"
        height="125"
        width="125"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col">
      <div class="card-body">
        <h5 class="card-title">{{ product?.name }}</h5>
        <p class="lh-1 card-text mx-0 my-0">
          {{ product?.description }}
        </p>
        <p class="card-text mt-1">
          <small class="d-flex text-body-secondary">{{
            item().price | currency : "USD"
          }}</small>
        </p>
        <div class="fst-italic fw-medium text-danger">
          {{ product?.stock }} left!
        </div>
      </div>
    </div>
    <div class="col d-flex align-items-center justify-content-end me-1">
      <input
        type="number"
        class="form-control text-center w-25 me-3"
        [value]="item().quantity"
        (change)="setNewItemQuantity($event, item())"
      />
      <div class="w-75">x {{ item().price | currency : "USD" }} =</div>
      <div class="fw-bold me-1">
        {{ calculateItemTotal() | currency : "USD" }}
      </div>
    </div>
  </div>
</div>
