<div class="container">
  <div class="row row-cols-1 row-cols-md-5 g-4 me-1">
    @for (product of productService.products(); track $index) {
    <product-card [product]="product"></product-card>
    }
  </div>
  <div class="d-flex justify-content-center mt-5">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        (click)="prevPg()"
      >
        Prev.
      </button>
      <button type="button" class="btn btn-sm btn-outline-secondary">
        {{ productService.currentPg() + 1 }}
      </button>
      <button
        type="button"
        class="btn btn-sm btn-outline-secondary"
        (click)="nextPg()"
      >
        Next
      </button>
    </div>
  </div>
</div>
