<div class="card shadow-sm">
  <img
    src="{{ placedOrder().orderItems[0].imageUrl }}"
    class="card-img-top mt-2"
    height="100"
    width="100"
  />
  <div class="card-body">
    <span class="fw-bold">Tracking:</span>
    <p class="card-text small my-0">{{ placedOrder().trackingNumber }}</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-danger">
        {{ placedOrder().totalPrice | currency : "USD" }}
      </div>
      <div>Items: {{ placedOrder().totalQuantity }}</div>
      <small class="text-body-secondary">{{ placedOrder().status }}</small>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-body-secondary"
        >made: {{ placedOrder().dateCreated }}</small
      >
      <small class="text-body-secondary"
        >updated: {{ placedOrder().lastUpdated }}</small
      >
    </div>
  </div>
</div>
